# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local settings
.venv
history/*.json

# Ignore temporary or build artifacts
build/
dist/
*.log